section{
    display: flexbox;
    /*border: 2px solid;*/
    margin-top: 2%;
    margin-left: 5%;
    width: 1000px;
    height: 800px;
    /*overflow: scroll;*/
}

aside{
    float: right;
    height: 100%;
    width: 500px;
}
aside img{
    width: 600px;
    height: 100%;
}

form{
    width: 500px;
}

.formrow{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 20px 20px;
    grid-template-rows: 30px 30px;
}

input[type=text]  {
    padding: 12px 12px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid grey;
    padding-right: 30px;
}

input[type=number]  {
    padding: 12px 12px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid grey;
    padding-right: 30px;
}

input::placeholder {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}

#dropdown{
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;

}

#dropdown select{
    margin-top: 5px;
    height: 25px;
    width: 175px;
}

/*#testoptions{
    display: flex;
    align-items: left;
    grid-template-columns: 20px 20px;
    flex-direction: row;
}*/

.button {
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    
}
.buttonPosition{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 135%;
    left: 10%;
}